<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  lang="en-GB" xml:lang="en-GB" ng-app="homepageApp">
<head>
    <title>Home</title>
    <link href="/styles/nav.css" rel="stylesheet" type="text/css"/>
    <link href="/styles/main.css" rel="stylesheet" type="text/css"/>
    <link href="/styles/buttons.css" rel="stylesheet" type="text/css"/>
    <link href="/styles/homepage.css" rel="stylesheet" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900,400italic' rel='stylesheet' type='text/css'/>
    <script src="/angular/angular.js"></script>
    <script src="/scripts/nav-height.js"></script>
    <script src="/scripts/angularcontrollers.js" type="text/javascript"></script>
</head>
<body ng-controller="homepageController">
    <nav>
      <div class="nav-link-list">
        <ul>
          <li ng-repeat="link in links"><a href="{{link.link}}">{{link.name}}</a></li>
        </ul>
      </div>
      <div class="nav-button">
        <div class="nav-button-padding"></div>
        <div class="nav-button-container">
          <a class="button" href="#"><span class="plussign">+</span>  NEW PREDICTION</a></div>
        <div class="nav-button-padding"></div>
      </div>
    </nav> 
    <main>
      <section>
        <ul>
          <li id="prediction" ng-repeat="prediction in predictions">
            <!-- <img src="https://s-media-cache-ak0.pinimg.com/originals/65/fe/9c/65fe9c5ebb76d9dbc05c4cc516e90215.jpg" height="40px" width="40px" align="left" /> -->
            <p>{{prediction.title}}</p>
            <a href="{{prediction.link}}">{{prediction.link}}</a>
          </li>
        </ul>
      </section>
    </main>
</body>
</html>