
<section id="banner">
  <div class="banner-text">
    <h1 class="banner-title">Tiresias</h1>
    <p>A reference site for claims made about the future.</p>
    <p>Tiresias, ancient Greek prophet of Apollo, has been reborn as a crowdsourced online prediction tracker and verifier.</p>
  </div>
  <img src="/images/banner.png" alt="banner"/>
</section>

<section id="search" >
  <input type="text" name="" class="searchBar" ng-model="searchQuery"/>
  <div class="filter-container">
  <span class="tag filter-tag" ng-show="!tagsAreEmpty()">{{tagFilters.tag}}</span>
  <div class="clear-filters" ng-show="!tagsAreEmpty()"><a href="" class="button" ng-click="clearTagFilters()">
  Clear filter
    </a>
  </div>
  </div>
</section>

<section id="predictions">
  <ul>
    <li class="prediction"
        ng-class="{'prediction-pending':prediction.finished === true,
                   'prediction-true':prediction.finishedState === true,
                   'prediction-false':prediction.finishedState === false}"
        ng-repeat="prediction in predictions | filter:searchQuery:strict | filter:{tags: tagFilters.tag} | orderBy : 'prediction.dateAdded':true ">
      <div class="prediction-image" ng-switch="prediction.finishedState">
        <img ng-switch-when="false" src="/images/fail.png"/>
        <img ng-switch-when="true" src="/images/succeed.png"/>
        <img ng-switch-default="" src="/images/blank.png"/>
      </div>
      <div class="prediction-text">
        <a class="prediction-title" ng-href="#/predictions/{{prediction._id}}">{{prediction.title}}</a> <br/>
        <p class="prediction-description">{{prediction.description}}</p>
        <div class="prediction-links">
          <a class="prediction-comments-link prediction-info" href="#/predictions/{{prediction._id}}#comments">{{prediction.noOfComments}} comments</a>
          <a href="" class="prediction-info">{{prediction.dateAdded}}</a>
          <a href="" class="prediction-info">Created by: {{prediction.user}}</a>
          <a class="tag prediction-tag" ng-repeat="tag in prediction.tags" ng-click="tagFilters.tag = tag">{{tag}}</a>
        </div>
      </div>
    </li>
  </ul>
</section>
<p class="empty-list" ng-show="predictions.length == 0">No predictions!  Why not make one?</p>