
<section id="banner">
  <div class="banner-text">
    <h1 class="banner-title">Tiresias</h1>
    <p>A reference site for claims made about the future.</p>
    <p>Tiresias, ancient Greek prophet of Apollo, has been reborn as a crowdsourced online prediction tracker and verifier.</p>
  </div>
  <img src="/images/banner.png" alt="banner"/>
</section>

<section id="search" >
  <input type="text" name="" class="searchBar" ng-model="searchQuery"/>
</section>
<section>
  <ul>
    <li class="prediction" ng-repeat="prediction in predictions | filter:searchQuery:strict | orderBy : 'prediction.dateAdded' : true ">
      <div class="prediction-image">
      </div>
      <div class="prediction-text">
        <a class="prediction-title" ng-href="#/predictions/{{prediction._id}}">{{prediction.title}}</a> <br/>
        <p class="prediction-description">{{prediction.description}}</p>
       <div class="prediction-links">
          <a class="prediction-comments-link" href="">{{prediction.noOfComments}} comments</a>
          <a class="tag prediction-tag" href="#" ng-repeat="tag in prediction.tags">{{tag}}</a>
          <a href="">{{prediction.dateAdded}}</a>
          <a href="" class="post-creator">Created by: {{prediction.user}}</a>
        </div> 
      </div>

    </li>
  </ul>
</section>
