<div class="modal-dark-background">
  <div id="form-div">
  <form name="submitForm" novalidate>
    <section class="form-title">
      <h1>New Prediction</h1>
      <img class="close-button" src="/images/close.png" alt="Close Window" ng-click="closePredictionWindow()"/>
    </section>
    <section class="input-fields">
      <section class="new new-title ">
        <label>Title*</label>
        <input type="text" name="newTitle" ng-model="newTitle" required/>
         <div ng-messages="submitForm.newTitle.$error">
            <p class="new-prediction-error" ng-message="required" ng-show="submitForm.newTitle.$touched">Title is required</p>
         </div>
      </section>

      <section class="new new-link">
        <label>Link*</label>
        <input type="text" name="new-link"/>
      </section>

      <section class="new new-text">
        <label>Text</label>
        <textarea name="new-text" rows="5"></textarea>
      </section>
      <div class="new col-left">
        <section class="new new-date-start">
          <label>Date made*</label>
          <input type="date" name="newDateStart" ng-model="newDateStart" required/>
         <div ng-messages="submitForm.newDateStart.$error">
            <p class="new-prediction-error" ng-message="required" ng-show="submitForm.newDateStart.$touched">Start date is required</p>
         </div>
        </section>

        <section class="new new-date-end">
          <label>End Date*</label>
          <input type="date" name="newDateEnd" ng-model="newDateStart" required/>
         <div ng-messages="submitForm.newDateEnd.$error">
            <p class="new-prediction-error" ng-message="required" ng-show="submitForm.newDateEnd.$touched">End date is required</p>
         </div>
        </section>
      </div>
      <div class="new col-right">
        <section class="new new-location">
          <label>Location</label>
          <input type="text" name="new-location"/>
        </section>

        <section class="new new-claimant">
          <label>Claimant</label>
          <input type="text" name="new-claimant"/>
        </section>
      </div>
    </section>
  <section class="new new-submit">
    <input type="submit" value="SUBMIT" class="button" id="submit" ng-disabled="submitForm.$invalid"/>
  </section>
  </form></div>
</div>
