<div class="modal-dark-background" ng-click="closePredictionWindow(predictionForm)">
  <div class="form-div" ng-click="stopPropagation($event)">
  <form name="predictionForm" novalidate="">
    <section class="form-title">
      <h1>New Prediction</h1>
      <img class="close-button" src="/images/close.png" alt="Close Window" ng-click="closePredictionWindow(predictionForm)"/>
    </section>
    <section class="input-fields">
    
      <section class="new new-title ">
        <label ng-messages="predictionForm.newTitle.$error">Title
          <span class="required-field">*</span>
          <span class="new-error" ng-message="required" ng-show="predictionForm.newTitle.$touched">Title is required</span>
        </label>
        <input type="text" name="newTitle" ng-model="newPrediction.title" required=""/>
      </section>

      <section class="new new-link">
        <label>Link</label>
        <input type="text" name="newLink" ng-model="newPrediction.link" />
      </section>

      <section class="new new-text">
        <label>Text</label>
        <textarea name="newText" rows="5" ng-model="newPrediction.description" ></textarea>
      </section>
      
      <div class="new col-left">
      
        <section class="new new-date-start">
          <label  ng-messages="predictionForm.newDateStart.$error">Date made
            <span class="required-field">*</span>
            <span class="new-error" ng-message="required" ng-show="predictionForm.newDateStart.$touched">Start date is required</span>
          </label>
          <input type="date" name="newDateStart" ng-model="newPrediction.startDate" required=""/>
        </section>

        <section class="new new-date-end">
          <label ng-messages="predictionForm.newDateEnd.$error">End Date
            <span class="required-field">*</span>
            <span class="new-error" ng-message="required" ng-show="predictionForm.newDateEnd.$touched">End date is required</span>
          </label>
          <input type="date" name="newDateEnd" ng-model="newPrediction.endDate" required=""/>
        </section>

      </div>
      
      <div class="new col-right">
      
        <section class="new new-location">
          <label>Location </label>
          <input type="text" name="newLocation" ng-model="newPrediction.location" />
        </section>

        <section class="new new-claimant">
          <label>Claimant</label>
          <input type="text" name="newClaimant" ng-model="newPrediction.claimant"/>
        </section>
     
     </div>
     
    </section>
    <section class="new new-submit">
      <input type="submit" value="SUBMIT" class="button" id="submit" ng-disabled="predictionForm.$invalid" ng-click="submitPrediction(predictionForm)" />
    </section>
  </form></div>
</div>
