<div class="modal-dark-background" ng-click="closeUserWindow(userForm)">
  <div class="form-div user-modal" ng-click="stopPropagation($event)">
  <form name="userForm" novalidate="">
    <section class="form-title">
      <h1>REGISTER</h1>
      <img class="close-button" src="/images/close.png" alt="Close Window" ng-click="closeUserWindow(userForm)"/>
    </section>
    <section class="input-fields">

      <section class="new new-user">
        <label ng-messages="userForm.newUser.$error">Username
          <span class="required-field">*</span>
          <span class="new-error" ng-message="required" ng-show="userForm.newUser.$touched">Username is required</span>
        </label>
        <input type="text" name="newUser" ng-model="newUser.username" required=""/>
      </section>

      <section class="new new-email">
        <label ng-messages="userForm.newEmail.$error">Email
          <span class="required-field">*</span>
          <span class="new-error" ng-message="required" ng-show="userForm.newEmail.$touched">Email is required</span>
          <span class="new-error" ng-message="email" ng-show="userForm.newEmail.$touched">Invalid email address</span>
        </label>
        <input type="email" name="newEmail" ng-model="newUser.email" required=""/>
      </section>

      <section class="new new-password">
        <label ng-messages="userForm.newPassword.$error">Password
          <span class="required-field">*</span>
          <span class="new-error" ng-message="required" ng-show="userForm.newPassword.$touched">Password is required</span>
          <span class="new-error" ng-message="minlength" ng-show="userForm.newPassword.$touched">Password must be 8 or more characters!</span>
        </label>
        <input type="password" name="newPassword" ng-model="newUser.password" ng-minlength="8" required=""/>
      </section>

      <section class="new new-confirm-password">
        <label ng-messages="userForm.newConfirmPassword.$error">Confirm Password
          <span class="required-field">*</span>
          <span class="new-error" ng-message="required" ng-show="userForm.newConfirmPassword.$touched">Please confirm</span>
          <span class="new-error" ng-message="minlength" ng-show="userForm.newConfirmPassword.$touched">Password must be 8 or more characters!</span>
          <span class="new-error" ng-show="passwordsDontMatch(newUser.password, newUser.confirmPassword)">Passwords don't match</span>
        </label>
        <input type="password" name="newConfirmPassword" ng-model="newUser.confirmPassword" ng-minlength="8" required=""/>
      </section>


    </section>
  <section class="new new-submit">
    <input type="submit" value="SUBMIT" class="button" id="submit" ng-disabled="userForm.$invalid" ng-click="submitUser(userForm)" />
  </section>
  </form></div>
</div>
