.prediction {
    margin: 1em 0;
    padding: 0.5em;
    list-style-type: none;
    border-style: solid;
    border-radius: 3px;
    border-width: 0.5px;
    box-shadow: #e9ebec 0 3px 3px;
    border-color: #808080;
    /*min-height: 8em;*/
    position: relative;
}

.prediction:hover {
  background-color: #f0f8fa;
  box-shadow: #e9ebec 0 2px 2px inset;
}

.prediction-title, .prediction-title:visited {
  color: #128FDC;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 18px;
  /*color: #000000;*/
}

.prediction-description {
    font-size: small;
    padding-right: 1.2em;
}

.prediction-text {
    margin-left: 10%;
    padding-bottom: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.prediction-links {
    font-size: 80%;
    bottom: 0;
    margin-top: 5px;
}

.prediction-comments-link {
    color: #128FDC;
    margin-right: 1%;
}

.prediction-tag {
    float: right;
}

.searchBar {
    display: block;
    height: 35px;
    color: #333;
    background-color: rgba(0, 0, 0, 0.08);
    padding: 0 35px;
    margin: 0 auto;
    text-align: center;
    width: 20%;
    border-radius: 36px;
}

#search {
    display: block;
    width: 90%;
    margin-left: 10%;
}

.post-creator {
    padding-left: 3em;
}