.prediction {
    margin: 1em 0;
    padding: 0.5em;
    list-style-type: none;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    border-color: #808080;
}

.prediction:hover {
  background-color: #f0f8fa;
}

.prediction-title, .prediction-title:visited {
  color: #128FDC;
}

.prediction-description {
    font-size: small;
    padding-right: 1.2em;
}

.prediction-text {
    margin-left: 10%;
}

.prediction-links {
    font-size: 80%;
}

.prediction-comments-link {
    color: #128FDC;
    margin-right: 1%;
}

.prediction-tag {
    float: right;
}

.searchBar {
    display: block;
    height: 35px;
    color: #333;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0 35px;
    margin: 0 auto;
    text-align: center;
    width: 20%;
}

#search {
    display: block;
    width: 90%;
    margin-left: 10%;
}