
body {
  width: 100%;
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Disables blue border outline on image links in IE8/9/10: */
a img {
 border:none;
}

main {
  margin-left: 15%;
  margin-right: 25%;
  margin-top: 4em;
  display: block;
  transition: 400ms;
}
