nav
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.7em;
  margin: 0;
  padding: 0;
  background-color: #282222;
  z-index: 5;
  padding-right:5%;
  transition: 400ms;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a > .plussign {
  margin-right:1em;
}

nav > .nav-link-list {
  width: 25%;
  height:100%;
  float:left;
}

nav .nav-button-container {
  float:left;
  height: 100%;
  vertical-align: middle;
  display: table;
  padding-right:1.2%;
  width: 10%;
  padding-right: 1em;
}

nav .nav-button-section {
  right:16.5%;
  position: absolute;
  height:2.7em;
}

/*nav > .nav-button-container:last-child {
  right:4.5%;
}*/

nav .nav-button-padding {
  display: table-row;
}

nav .button {
  font-size: 0.8em;
  font-weight: 500;
  font-family: 'Roboto';
  letter-spacing: 0.12em;
  margin-top: 0;
  white-space: nowrap;
}

nav li > a {
  display: block;
  float: left;
  color: white;
  font-style: normal;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;
}

nav li > a:hover {
  background-color: #128FDC;
}

nav .login-button {
  padding-left:1em;
  padding-right:1em;
}

.login-slider-wrapper {
  position:absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  top:-200px;
  background-color: #2c3e50;
  z-index: 6;
}

.login-slider {
  margin-left:80%;
  height:7em;

}

.login-slider .input > * {
  display:block;
}

.login-slider .input {
  margin-top: 0.8em;
}

.login-slider label {
  color: #CCC;
}

.login-close-button {
  margin-left:1em;
  background-color: #CCC;
  border:none;
  font-size:0.8em;
  color: #888;
  position:absolute;
}

.login-close-button:hover {
  background-color: #888;
  color: #CCC;
}

.nav-button {
  width: 3em;
  height: 3em;
  left: 33%;
  position: relative;
  display: inline-block;
  margin: 0;
  border-radius: 50%;
  border: 4px solid #282222;
  overflow: hidden;
}

.nav-button:hover {
  background-color: #ecf0f1;

}

.nav-button img {
    display: block;
    width: 70%;
    padding: 15%;
    margin: 0;
    height: auto;
}

.nav-button a:hover {
  background-color: #fff;
}

.home-button {
    background-color: #26A65B;
}

.about-button {
    background-color: #f1c40f;
}

.nav-button a {
  transition: 0.5s;
}

nav input, nav textarea {
  width:90%;
  margin-bottom: 6px;
}

nav input:focus, nav textarea:focus {
  background-color: #ffff8d;
}

.hidden-button {
  display:none;
}

nav .user-info-panel {
  color: white;
  float: right;
  overflow:hidden;
  height:99%;
  padding-right:2em;
}

nav .user-info {
  font-size: 80%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  float:left;
  padding-top:5px;
}

nav .user-info-panel p {
  font-weight: 700;
  padding: 0;
  margin: 0;
}

nav .user-image {
  padding:5px;
  float:left;
}

nav .user-image > img {
  height: 2em;
}

nav .user-success-count {
  color: green;
}

nav .user-fail-count {
  color: red;
}