/* CSS for the New Prediction modal window */

.form-div {
  background-color: #F9F9F9;
  color: #888888;
  border: 1px solid #D4D4D4;
  border-radius: 5px;
  padding:1em;
  padding-top: 0;
  width:40%;
  position:fixed;
  left:30%;
  top:6%;
  z-index:7;
}

.form-div h1  {
  font-size: 1.6em;
  padding-bottom: 0;
  width:90%;
}

.form-div .form-title  {
  border-bottom: 1px solid #D4D4D4;
  margin-bottom: 0.5em
}

.form-div .close-button {
  display:inline;
  position:absolute;
  top:0;
  right:0;
  cursor:pointer;
}

.modal-dark-background {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:#000000;
  z-index:6;
  background-color: rgba(0,0,0,0.7);
}

.form-div .input-fields {
  overflow:hidden;
}

.form-div .new {
  padding-top:0.3em;
  padding-bottom: 0.3em;
}

.form-div .new > *  {
  display:block;
}

.form-div .col-left {
  width:49%;
  float:left;
}

.form-div .col-right {
  width:49%;
  float:right;
}

.form-div .new input {
  width:97%;
  height: 1.2em;
}

.form-div .new textarea,
.form-div .new-title input,
.form-div .new-link input {
  width:98.5%;
}

.form-div .new-submit {
  margin-top:2em;
}

.form-div .new-error {
  font-weight: bold;
  font-size: 11px;
  color: red;
  margin: 0;
  padding-right: 2em;
  float: right;
}

.form-div .required-field {
  color:red;
}

.form-div #submit {
  width:auto;
  height:auto;
  border:1px solid #3e9cbf;
  cursor:pointer;
  font-family: roboto;
  font-weight: 500;
  padding-left:15%;
  padding-right:15%;
  margin-left: auto;
  margin-right: auto;
}

.form-div #submit:hover {
  background-color: #1D74AB;
}

.form-div #submit:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.form-div  input:focus, 
.form-div  textarea:focus {
  background-color: #ffff8d;
}

.form-div #submit:focus {
  background-color: #1D74AB;
}

.user-modal {
  width:20%;
  left:40%;
}
