
aside#side-buttons {
  float:left;
  width:2.5em;
  text-align: center;
  padding-right:1em;
}

.vote-number {
  display: inline-block;
  background-color: #f1c40f;
  display: inline-block;
  padding: 0.6em 0;
  width:90%;
  margin: 0;
  border-radius: 50%;
}

.vote-button {
  width: 90%;
  height: 90%;
  margin: 0;
  background-color: rgb(115,121,118);
  cursor: pointer;
}

.vote-down {
  margin-top: 0.3em;
}

.vote-down:hover {
  background-color: rgb(161,57,69);
}

.vote-up:hover {
  background-color: rgb(144,195,170);
}

.vote-down:active {
  background-color: rgb(181,77,89);
}

.vote-up:active {
  background-color: rgb(164,215,190);
}

#map {
  margin-top: 2em;
  height: 15em;
  width: 100%;
}

input, textarea {
  background-color: #CCC;
  border-radius: 3px;
  border-width:1px;
  border:none;
  padding:0.25em;
}

input:focus, textarea:focus {
  background-color: #DDE;
  outline: none;
}

#link {
  max-width: 80%;
  display: inline-block;
}

#timer {
  width:100%;
  transition: 400ms;
}
#comments {
  margin-top: 5em;
  margin-left: 0;
}

.comment {
  padding-bottom: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  background-color: #EEE;
  border: 1px solid #AAA;
  border-radius: 3px;
}
.comments-list {
  -webkit-padding-start: 0px;
}
.comment-image {
  height: 2em;
  float: left;
  display: inline;
}

.comment-user {
  margin-bottom: 0.5em;
  background-color: #CCC;
  color: #777;
  border-bottom: 1px solid #AAA;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding-left: 1em;
}

.comment-body {
  padding-left: 1em;
  color: #555;
}

.comment-image img {
  width: 3em;
  margin-left: -4em;
}

.comment-text {
  display: inline;
  width: 90%;
  height: 100%;
  font-size:0.8em;
}

.comment-image:before {
  position:absolute;
  margin-left: -1em;
  content: url('/images/comSide.png');
}
