
aside#side-buttons {
  float:left;
  width:2.5em;
  text-align: center;
  padding-right:1em;
}

.vote-number {
  display: inline-block;
  background-color: #e6e600;
  display: inline-block;
  padding: 0.6em 0;
  width:90%;
  margin: 0;
}

.vote-button {
  width: 90%;
  height: 90%;
  margin: 0;
  background-color: rgb(115,121,118);
}

.vote-down {
  margin-top: 0.3em;
}

.vote-up {
  margin-bottom: 0.3em;
}

.vote-down:hover {
  background-color: rgb(161,57,69);
}

.vote-up:hover {
  background-color: rgb(144,195,170);
}

.vote-down:active {
  background-color: rgb(181,77,89);
}

.vote-up:active {
  background-color: rgb(164,215,190);
}

.tag {
  padding:0.2em 0.6em;
  margin-right:0.3em;
  border-radius: 3px;
  color: #128FDC;
  border-color: #128FDC;
  border-style: solid;
  border-width: 1px;
  font-size: 0.8em;
  font-weight: 500;
}

.tag:hover {
  background-color:#128FDC;
  color: #FFFFFF;
}

#map {
  margin-top: 2em;
  height: 15em;
  width: 100%;
}

input, textarea {
  background-color: #CCC;
  border-radius: 3px;
  border-width:1px;
  border:none;
  padding:0.25em;
}

input:focus, textarea:focus {
  background-color: #DDE;
  outline: none;
}

#link {
  max-width: 80%;
  display: inline-block;
}

#timer {
  width:100%;
}
