h1 {
  font-size: 1.4em;
}

main {
  margin-left: 1%;
  margin-right: 1%;
}

av > .nav-button-container {
  right:55%;
}

nav > .nav-button-container:last-child {
  right:8%;
}

nav .login-button {
  margin-left: 3em;
}
