/*@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url('/fonts/Montserrat-regular.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat-bold';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url('/fonts/Montserrat-bold.woff') format('woff');
} */

body {
  width: 100%;
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  padding-bottom: 0.6em;
  margin: 0;
  font-size: 2.7em;
  font-family: 'Roboto';
  font-weight:500;
}

main {
  margin-left: 15%;
  margin-right: 25%;
  margin-top: 4em;
  display: block;
  transition: 400ms;
}

/* Disables blue border outline on image links in IE8/9/10: */
a img {
 border:none;
}

aside#side-buttons {
  float:left;
  width:2.5em;
  text-align: center;
  padding-right:1em;
}

.vote-number {
  display: inline-block;
  background-color: #e6e600;
  display: inline-block;
  padding: 0.6em 0;
  width:90%;
  margin: 0;
}

.vote-button {
  width: 90%;
  height: 90%;
  margin: 0;
  background-color: rgb(115,121,118);
}

.vote-down {
  margin-top: 0.3em;
}

.vote-up {
  margin-bottom: 0.3em;
}

.vote-down:hover {
  background-color: rgb(161,57,69);
}

.vote-up:hover {
  background-color: rgb(144,195,170);
}

.vote-down:active {
  background-color: rgb(181,77,89);
}

.vote-up:active {
  background-color: rgb(164,215,190);
}

.button {
  padding: 0.6em;
  text-decoration: none;
  border-radius: 3px;
  color: #ffffff;
  display: inline-block;
  background-color: #128FDC;
}

.button:hover {
  background-color: #1D74AB;
}

.button:active {
  background-color: #1570A5;
}

.tag {
  padding:0.2em 0.6em;
  margin-right:0.3em;
  border-radius: 3px;
  color: #128FDC;
  border-color: #128FDC;
  border-style: solid;
  border-width: 1px;
  font-size: 0.8em;
  font-weight: 500;
}

.tag:hover {
  background-color:#128FDC;
  color: #FFFFFF;
}

#map {
  margin-top: 2em;
  height: 15em;
  width: 100%;
}

input, textarea {
  background-color: #CCC;
  border-radius: 3px;
  border-width:1px;
  border:none;
  padding:0.25em;
}

input:focus, textarea:focus {
  background-color: #8CF;
}
