/*@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url('/fonts/Montserrat-regular.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat-bold';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url('/fonts/Montserrat-bold.woff') format('woff');
} */

body {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a > .plussign {
  font-size: 1em;
}

h1 {
  padding-bottom: 0.6em;
  margin: 0;
  font-size: 2.7em;
  font-family: 'Roboto';
  font-weight:500;
}

nav
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav > .button {
  float:right;
  margin-right: 5%;
  vertical-align: middle;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  font-size: 0.8em;
  font-weight: 500;
  font-family: 'Roboto';
  letter-spacing: 0.12em;
}

li > a{
  display: block;
  float: left;
  color: white;
  font-style: normal;
  text-align: center;
  padding: 1em 1.62em;
  left: 13%;
  position: relative;
}

li > a:hover {
  background-color: #128FDC;
}

main {
  padding-left: 15%;
  padding-right: 25%;
  padding-top: 5%;
}


aside#sidebuttons {
  float:left;
  width:2.5em;
  text-align: center;
  padding-right:1em;
}

.votes {
  display: inline-block;
  background-color: #e6e600;
  display: inline-block;
  padding: 0.6em 0;
  width:90%;
  margin: 0;
}

.votebutton {
  width: 90%;
  height: 90%;
  margin: 0;
  background-color: rgb(115,121,118);
}

.votedown {
  margin-top: 0.3em;
}

.voteup {
  margin-bottom: 0.3em;
}

.votedown:hover {
  background-color: rgb(161,57,69);
}

.voteup:hover {
  background-color: rgb(144,195,170);
}

.votedown:active {
  background-color: rgb(181,77,89);
}

.voteup:active {
  background-color: rgb(164,215,190);
}

.button {
  padding: 0.6em;
  text-decoration: none;
  border-radius: 3px;
}

.button:link, .button:visited {
  color: #ffffff;
  display: inline-block;
  background-color: #128FDC;
}

.button:hover {
  background-color: #1D74AB;
}

.button:active {
  background-color: #1570A5;
}

.tag {
  padding:0.2em 0.6em;
  margin-right:0.3em;
  border-radius: 3px;
  color: #128FDC;
  border-color: #128FDC;
  border-style: solid;
  border-width: 1px;
  font-size: 0.8em;
  font-weight: 500;
}

.tag:hover {
  background-color:#128FDC;
  color: #FFFFFF;
}
