nav
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2em;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow:hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


nav > .nav-button {
  float:right;
  margin-right: 5%;
  height: 100%;
  vertical-align: middle;
  display: table;
}

nav .nav-button-padding {
  display: table-row;
}

nav .nav-button-container {
  height: 60%;
  display: table-row;
}

nav .button {
  font-size: 0.8em;
  font-weight: 500;
  font-family: 'Roboto';
  letter-spacing: 0.12em;
  margin-top: 0;
}

nav li > a{
  display: block;
  float: left;
  color: white;
  font-style: normal;
  text-align: center;
  padding-left: 1.62em;
  padding-right: 1.62em;
  left: 13%;
  position: relative;
}

nav li > a:hover {
  background-color: #128FDC;
}