nav
{
  position: fixed;
  top: 0;
  left: 0;
  width: 95%;
  height: 2.7em;
  margin: 0;
  padding: 0;
  background-color: #282222;
  overflow:hidden;
  z-index: 5;
  padding-right:5%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a > .plussign {
  margin-right:1em;
}

nav > .nav-button-container {
  float:right;
  height: 100%;
  vertical-align: middle;
  display: table;
  padding-right:2%;
}

nav .nav-button-padding {
  display: table-row;
}

nav .button {
  font-size: 0.8em;
  font-weight: 500;
  font-family: 'Roboto';
  letter-spacing: 0.12em;
  margin-top: 0;

}

nav li > a {
  display: block;
  float: left;
  color: white;
  font-style: normal;
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
  left: 13%;
  position: relative;
}

nav li > a:hover {
  background-color: #128FDC;
}

nav .login-button {
  padding-left:1em;
  padding-right:1em;
}
